html {
    box-sizing: border-box;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}

#interface {
    height: 80vh;
    width: 50vh;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #676E77;
}

.display {
    display: flex;
    flex: 1;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
    border-radius: 10px;
    margin: 5px;
    font-size: 5vh;
    background-color: white;
}

#controls {
    display: flex;
    flex-direction: row;
    flex: 5;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    justify-content: space-around;
    padding: 1% 0;
}

button {
    width: 30%;
    margin: 1%;
    font-size: 2.5vh;
    background-color: white;
}

button.number {
    border-color: #DBDADA;
}

button:hover {
    opacity: 90%;
}

.methods {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
    padding: 1% 0;
}

.methods button {
    width: 98%;
    margin: 3%;
    font-size: 2.5vh;
}

button:not(.number, .delete) {
    background-color: #C0CCD9;
    border-color: #BECEE7
}

.delete {
    background-color: #BC787A;
    border-color: #D8A0A6;
    border-width: 1px;
}